<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrendLine</title>
  <link rel="stylesheet" href="product.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
 
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    
</head>
<body>
  <nav class="nav">
    <div class="container nav_container">
      <h4>Trend<span>Line</span></h4>
      <ul class="nav_list">
        <li class="nav_item"><a href="index.html" class="nav_link">Home</a></li>
        <li class="nav_item"><a href="about us.html" class="nav_link">About</a></li>
        <li class="nav_item"><a href="Blogs.html" class="nav_link">Blog</a></li>
        <li class="nav_item"><a href="gallery.html" class="nav_link">Gallery</a></li>
        <li class="nav_item"><a href="rent.html" class="nav_link">On Rent</a></li>
        <li class="nav_item"><a href="contact.html" class="nav_link">Contact Us</a></li>
        
        <li class="nav_item">
          <a href="sign-up.html" class="nav_link">Sign up</a>
        </li>
      </ul>
      <div class="nav_items">
        <div class="search-box">
        <div class="row">
          <input type="text" id="input-box" placeholder="search anything" autocomplete="off" >
          <button><ion-icon name="search-outline" class="search-outline"></ion-icon></button>  
        </div>
        <div class="result-box">
        </div>
        </div>
       <div class="box">
        <div class="cart-count">0</div>
        <ion-icon name="cart"  id="cart-icon" ></ion-icon>
       </div>

       <div class="cart">
        <div class="cart-title">Cart Items</div>
        <div class="cart-content">
        </div>
        
      <div class="total">
        <div class="total-title">Total</div>
        <div class="total-price">Rs.0</div>
      </div>

      <a href="check out.html"><button class="btn-buy">Place Order</button></a>

      <ion-icon name="close" id="cart-close"></ion-icon>

      </div>
      </div>
      </div>
  </nav>
  <div class="container7">
    <div class="shop-content">
      <div class="food-box">
        <div class="pic">
          <img src="lipstick/istockphoto-92501287-1024x1024.jpg" class="food-img">
        </div>
        <h2 class="food-title">Plain</h2>
        <span class="food-price">Rs.40</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
  
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>


      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-147652905-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Paper Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
     
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-174906804-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Onion Roast</h2>
        <span class="food-price">Rs.80</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1135807843-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Parotta</h2>
        <span class="food-price">Rs.55</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
        
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1318131956-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Plain Omelette</h2>
        <span class="food-price">Rs.25</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
        
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1321953521-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Kadai Fry</h2>
        <span class="food-price">Rs.150</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
        
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1395773672-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Veechu</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
   
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
  
  
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1407591259-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
 
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1407591259-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
       
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1449553034-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1458639335-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
      
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
      <div class="food-box">
        <div class="pic"><img src="lipstick/istockphoto-1488218677-1024x1024.jpg" class="food-img"></div>
        <h2 class="food-title">Egg Roast</h2>
        <span class="food-price">Rs.65</span>
        <ion-icon name="cart" class="add-cart"></ion-icon>
        <a href="check out.html"> <button class="button button5">Buy</button></a>
      </div>
      
      
    </div>
  </div>
  <section class="pagination">
    <div class="container">
      <span>1</span> <span>2</span> 
     
    </div>
  </section>
  <footer class="footer-distributed">

    <div class="footer-left">
        <h3>Trend<span>Line</span></h3>

        
        <p class="footer-links">
          <a href="index.html">Home</a>
          |
          <a href="about us.html">About</a>
          |
          <a href="contact.html">Contact</a>
          |
          <a href="Blogs.html">Blog</a>
      </p>

        <p class="footer-company-name">Copyright © 2024 <strong>TrendLine</strong> All rights reserved</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Pakistan</span>
                Sialkot</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 74**9**258</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:sagar00001.co@gmail.com">xyz@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            <strong>TrendLine website is an online platform where businesses and consumers can
               buy and sell goods or services over the internet. 
        </p>
        <div class="footer-icons">
          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
          <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
          <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
          <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
          
        </div>
    </div>
</footer>
  <script src="index.js"></script>
 
  </body>
  </html>